<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidConcepts">
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TopicOptionsActivity"
            android:exported="false" />
        <activity
            android:name=".UIBasicsActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.ButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.TextViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.ImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.EditTextActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.CheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.RadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.SwitchActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.ProgressBarActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.LinearLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.ConstraintLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.FrameLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.recyclerView.RecyclerViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.ScrollViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.CardViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.SnackBarActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.AlertDialogActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.FabActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.GlideCoilActivity"
            android:exported="false" />
        <activity
            android:name=".ui_basics.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityLifecycleConceptsActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.ActivityLifecycle"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.explicit_intent.ExplicitIntentSenderActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.SavedInstanceStateActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.explicit_intent.ExplicitIntentReceiverActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.ImplicitIntentActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.pass_data.ReceiveDataParcelableBundleActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.pass_data.PassDataParcelableBundleActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.intent_flags.IntentFlagsActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.intent_flags.FlagDemoActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.intent_flags.DummyActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.fragment_manager.FragmentManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.fragment_basics.FragmentBasicsActivity"
            android:exported="false" />
        <activity
            android:name=".activity_fragment_lifecycle.fragment_backstack.FragmentBackstackActivity"
            android:exported="false" />
    </application>

</manifest>